{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}

	<h2>{{ msg }}</h2>

	<!-- <form action="{{ path }}" method="POST">

		<label for="username">Username:</label>
	    <input type="text" id="username" name="username" value="" />

	    <label for="password">Password:</label>
	    <input type="password" id="password" name="password" />

	    <button type="submit">login</button>

	</form> -->
	<!-- <div class="log_card uk-box-shadow-small uk-box-shadow-hover-large uk-animation-fade">

        <form action="{{ path }}" method="POST">

            <fieldset class="uk-fieldset">
                </br>
                <div class="uk-margin">
                    <h3 class="uk-heading uk-text-center"><span>Login</span></h3>
                </div>
                <hr class="uk-divider-small">
                <div class="uk-margin">
                    <div class="uk-inline" id="form-stacked-text">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" name="username" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input " type="password" name="password" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-secondary" type="submit">Login</button>
                </div>
            </fieldset>

        </form>

    </div> -->

    <div class="content-background">
        <div class="uk-section-large">
            <div class="uk-container uk-container-small">
                <div uk-grid class="uk-child-width-1-1@s uk-child-width-2-3@l">
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                    <div class="uk-width-1-1@s uk-width-3-5@l uk-width-1-3@xl">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                Login Page
                            </div>
                            <div class="uk-card-body">
                                <center>
                                    <h2>Go Ahead</h2><br />
                                </center>
                                <form action="{{ path }}" method="POST">
                                    <fieldset class="uk-fieldset">

                                        <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-android-person"></span>
                                                <input name="email" class="uk-input" type="text" placeholder="Email" required>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-locked"></span>
                                                <input name="password" class="uk-input" type="password" placeholder="Password" required>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <a href="#">Forgot your password?</a>
                                        </div>

                                        <div class="uk-margin">
                                            <button type="submit" class="uk-button uk-button-primary">
                                                <span class="ion-forward"></span>&nbsp; Login
                                            </button>
                                        </div>

                                        <hr />

                                        <center>
                                            <p>
                                                You don't have an account yet?
                                            </p>
                                            <a href="cod4://cod.vkesports.com" class="uk-button uk-button-default">
                                                <span class="ion-android-person-add"></span>&nbsp; COD4
                                            </a>
                                        </center>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
