{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}

	<!-- <h1>Register</h1>

	<h2>{{ msg }}</h2>

	<form action="{{ path }}" method="POST">

		<label for="email">Email:</label>
	    <input type="text" id="email" name="email" value="" />

		<label for="username">Username:</label>
	    <input type="text" id="username" name="username" value="" />

	    <label for="password">Password:</label>
	    <input type="password" id="password" name="password" />

	    <button type="submit">Register</button>

	</form> -->

	<div class="content-background">
        <div class="uk-section-large">
            <div class="uk-container uk-container-large">
                <div uk-grid class="uk-child-width-1-1@s uk-child-width-2-3@l">
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                    <div class="uk-width-1-1@s uk-width-3-5@l uk-width-1-3@xl">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                Register Page
                            </div>
                            <div class="uk-card-body">
                                <center>
                                    <h2>UI Admin</h2><br />
                                </center>
                                <form action="{{ path }}" method="POST">
                                    <fieldset class="uk-fieldset">

                                        <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-edit"></span>
                                                <input name="username" class="uk-input" type="text" placeholder="Username">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-android-person"></span>
                                                <input name="email" class="uk-input" type="email" placeholder="Email">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-locked"></span>
                                                <input name="password" class="uk-input" type="password" placeholder="Password">
                                            </div>
                                        </div>

                                        <!-- <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-locked"></span>
                                                <input name="password_confirmation" class="uk-input" type="password" placeholder="Repeat Password">
                                            </div>
                                        </div> -->

                                        <div class="uk-margin">
                                            <button type="submit" class="uk-button uk-button-primary">
                                                <span class="ion-forward"></span>&nbsp; Register
                                            </button>
                                        </div>

                                        <hr />

                                        <center>
                                            <p>
                                                Already have an account?
                                            </p>
                                            <a href="login" class="uk-button uk-button-default">
                                                <span class="ion-android-person"></span>&nbsp; Login
                                            </a>
                                        </center>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}