* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #021027;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  mask-image: radial-gradient(white 0%, white 30%, transparent 80%, transparent);
}

.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-container .circle {
  width: 120%;
  height: 120%;
  border-radius: 25%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%);
  animation: fadein-frames 200ms infinite, scale-frames 1.5s infinite;
}

@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}

.circle-container:nth-child(1) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-1;
  animation-duration: 32054ms;
  animation-delay: 13837ms;
}

@keyframes move-frames-1 {
  from {
    transform: translate3d(59vw, 96vh, 0);
  }
  to {
    transform: translate3d(30vw, -100vh, 0);
  }
}

.circle-container:nth-child(1) .circle {
  animation-delay: 894ms;
}

.circle-container:nth-child(2) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-2;
  animation-duration: 29554ms;
  animation-delay: 4848ms;
}

@keyframes move-frames-2 {
  from {
    transform: translate3d(34vw, 94vh, 0);
  }
  to {
    transform: translate3d(53vw, -100vh, 0);
  }
}

.circle-container:nth-child(2) .circle {
  animation-delay: 2655ms;
}

.circle-container:nth-child(3) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-3;
  animation-duration: 35133ms;
  animation-delay: 19231ms;
}

@keyframes move-frames-3 {
  from {
    transform: translate3d(42vw, 98vh, 0);
  }
  to {
    transform: translate3d(40vw, -123vh, 0);
  }
}

.circle-container:nth-child(3) .circle {
  animation-delay: 1166ms;
}

.circle-container:nth-child(4) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-4;
  animation-duration: 36144ms;
  animation-delay: 21687ms;
}

@keyframes move-frames-4 {
  from {
    transform: translate3d(8vw, 96vh, 0);
  }
  to {
    transform: translate3d(65vw, -99vh, 0);
  }
}

.circle-container:nth-child(4) .circle {
  animation-delay: 85ms;
}

.circle-container:nth-child(5) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-5;
  animation-duration: 33917ms;
  animation-delay: 4572ms;
}

@keyframes move-frames-5 {
  from {
    transform: translate3d(73vw, 93vh, 0);
  }
  to {
    transform: translate3d(52vw, -108vh, 0);
  }
}

.circle-container:nth-child(5) .circle {
  animation-delay: 448ms;
}

.circle-container:nth-child(6) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-6;
  animation-duration: 28559ms;
  animation-delay: 3364ms;
}

@keyframes move-frames-6 {
  from {
    transform: translate3d(18vw, 95vh, 0);
  }
  to {
    transform: translate3d(68vw, -124vh, 0);
  }
}

.circle-container:nth-child(6) .circle {
  animation-delay: 1072ms;
}

.circle-container:nth-child(7) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-7;
  animation-duration: 34010ms;
  animation-delay: 30990ms;
}

@keyframes move-frames-7 {
  from {
    transform: translate3d(56vw, 100vh, 0);
  }
  to {
    transform: translate3d(9vw, -109vh, 0);
  }
}

.circle-container:nth-child(7) .circle {
  animation-delay: 2253ms;
}

.circle-container:nth-child(8) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-8;
  animation-duration: 28256ms;
  animation-delay: 30201ms;
}

@keyframes move-frames-8 {
  from {
    transform: translate3d(68vw, 99vh, 0);
  }
  to {
    transform: translate3d(54vw, -101vh, 0);
  }
}

.circle-container:nth-child(8) .circle {
  animation-delay: 1434ms;
}

.circle-container:nth-child(9) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-9;
  animation-duration: 34677ms;
  animation-delay: 25296ms;
}

@keyframes move-frames-9 {
  from {
    transform: translate3d(80vw, 92vh, 0);
  }
  to {
    transform: translate3d(13vw, -118vh, 0);
  }
}

.circle-container:nth-child(9) .circle {
  animation-delay: 361ms;
}

.circle-container:nth-child(10) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-10;
  animation-duration: 35323ms;
  animation-delay: 23047ms;
}

@keyframes move-frames-10 {
  from {
    transform: translate3d(71vw, 95vh, 0);
  }
  to {
    transform: translate3d(47vw, -105vh, 0);
  }
}

.circle-container:nth-child(10) .circle {
  animation-delay: 3573ms;
}

.circle-container:nth-child(11) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-11;
  animation-duration: 32334ms;
  animation-delay: 36709ms;
}

@keyframes move-frames-11 {
  from {
    transform: translate3d(67vw, 96vh, 0);
  }
  to {
    transform: translate3d(89vw, -101vh, 0);
  }
}

.circle-container:nth-child(11) .circle {
  animation-delay: 1117ms;
}

.circle-container:nth-child(12) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-12;
  animation-duration: 29261ms;
  animation-delay: 20217ms;
}

@keyframes move-frames-12 {
  from {
    transform: translate3d(9vw, 92vh, 0);
  }
  to {
    transform: translate3d(10vw, -113vh, 0);
  }
}

.circle-container:nth-child(12) .circle {
  animation-delay: 1319ms;
}

.circle-container:nth-child(13) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-13;
  animation-duration: 33671ms;
  animation-delay: 17538ms;
}

@keyframes move-frames-13 {
  from {
    transform: translate3d(53vw, 95vh, 0);
  }
  to {
    transform: translate3d(16vw, -125vh, 0);
  }
}

.circle-container:nth-child(13) .circle {
  animation-delay: 1906ms;
}

.circle-container:nth-child(14) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-14;
  animation-duration: 33113ms;
  animation-delay: 14224ms;
}

@keyframes move-frames-14 {
  from {
    transform: translate3d(45vw, 98vh, 0);
  }
  to {
    transform: translate3d(93vw, -113vh, 0);
  }
}

.circle-container:nth-child(14) .circle {
  animation-delay: 2205ms;
}

.circle-container:nth-child(15) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-15;
  animation-duration: 35110ms;
  animation-delay: 11396ms;
}

@keyframes move-frames-15 {
  from {
    transform: translate3d(21vw, 91vh, 0);
  }
  to {
    transform: translate3d(69vw, -100vh, 0);
  }
}

.circle-container:nth-child(15) .circle {
  animation-delay: 2942ms;
}

.circle-container:nth-child(16) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-16;
  animation-duration: 35243ms;
  animation-delay: 19570ms;
}

@keyframes move-frames-16 {
  from {
    transform: translate3d(47vw, 92vh, 0);
  }
  to {
    transform: translate3d(38vw, -117vh, 0);
  }
}

.circle-container:nth-child(16) .circle {
  animation-delay: 166ms;
}

.circle-container:nth-child(17) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-17;
  animation-duration: 30698ms;
  animation-delay: 26335ms;
}

@keyframes move-frames-17 {
  from {
    transform: translate3d(19vw, 96vh, 0);
  }
  to {
    transform: translate3d(23vw, -111vh, 0);
  }
}

.circle-container:nth-child(17) .circle {
  animation-delay: 993ms;
}

.circle-container:nth-child(18) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-18;
  animation-duration: 36299ms;
  animation-delay: 23088ms;
}

@keyframes move-frames-18 {
  from {
    transform: translate3d(80vw, 92vh, 0);
  }
  to {
    transform: translate3d(69vw, -115vh, 0);
  }
}

.circle-container:nth-child(18) .circle {
  animation-delay: 500ms;
}

.circle-container:nth-child(19) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-19;
  animation-duration: 36920ms;
  animation-delay: 3492ms;
}

@keyframes move-frames-19 {
  from {
    transform: translate3d(32vw, 91vh, 0);
  }
  to {
    transform: translate3d(27vw, -107vh, 0);
  }
}

.circle-container:nth-child(19) .circle {
  animation-delay: 1533ms;
}

.circle-container:nth-child(20) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-20;
  animation-duration: 29698ms;
  animation-delay: 7067ms;
}

@keyframes move-frames-20 {
  from {
    transform: translate3d(36vw, 95vh, 0);
  }
  to {
    transform: translate3d(2vw, -102vh, 0);
  }
}

.circle-container:nth-child(20) .circle {
  animation-delay: 1336ms;
}

.circle-container:nth-child(21) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-21;
  animation-duration: 28256ms;
  animation-delay: 32742ms;
}

@keyframes move-frames-21 {
  from {
    transform: translate3d(52vw, 91vh, 0);
  }
  to {
    transform: translate3d(84vw, -98vh, 0);
  }
}

.circle-container:nth-child(21) .circle {
  animation-delay: 1702ms;
}

.circle-container:nth-child(22) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-22;
  animation-duration: 30428ms;
  animation-delay: 28188ms;
}

@keyframes move-frames-22 {
  from {
    transform: translate3d(82vw, 94vh, 0);
  }
  to {
    transform: translate3d(88vw, -99vh, 0);
  }
}

.circle-container:nth-child(22) .circle {
  animation-delay: 984ms;
}

.circle-container:nth-child(23) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-23;
  animation-duration: 29612ms;
  animation-delay: 26766ms;
}

@keyframes move-frames-23 {
  from {
    transform: translate3d(42vw, 95vh, 0);
  }
  to {
    transform: translate3d(34vw, -117vh, 0);
  }
}

.circle-container:nth-child(23) .circle {
  animation-delay: 2426ms;
}

.circle-container:nth-child(24) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-24;
  animation-duration: 32481ms;
  animation-delay: 31269ms;
}

@keyframes move-frames-24 {
  from {
    transform: translate3d(16vw, 95vh, 0);
  }
  to {
    transform: translate3d(79vw, -102vh, 0);
  }
}

.circle-container:nth-child(24) .circle {
  animation-delay: 2935ms;
}

.circle-container:nth-child(25) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-25;
  animation-duration: 31030ms;
  animation-delay: 3993ms;
}

@keyframes move-frames-25 {
  from {
    transform: translate3d(73vw, 94vh, 0);
  }
  to {
    transform: translate3d(21vw, -103vh, 0);
  }
}

.circle-container:nth-child(25) .circle {
  animation-delay: 2741ms;
}

.circle-container:nth-child(26) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-26;
  animation-duration: 29141ms;
  animation-delay: 29300ms;
}

@keyframes move-frames-26 {
  from {
    transform: translate3d(23vw, 98vh, 0);
  }
  to {
    transform: translate3d(38vw, -122vh, 0);
  }
}

.circle-container:nth-child(26) .circle {
  animation-delay: 318ms;
}

.circle-container:nth-child(27) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-27;
  animation-duration: 30686ms;
  animation-delay: 11077ms;
}

@keyframes move-frames-27 {
  from {
    transform: translate3d(5vw, 93vh, 0);
  }
  to {
    transform: translate3d(80vw, -94vh, 0);
  }
}

.circle-container:nth-child(27) .circle {
  animation-delay: 528ms;
}

.circle-container:nth-child(28) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-28;
  animation-duration: 28735ms;
  animation-delay: 10865ms;
}

@keyframes move-frames-28 {
  from {
    transform: translate3d(84vw, 100vh, 0);
  }
  to {
    transform: translate3d(82vw, -104vh, 0);
  }
}

.circle-container:nth-child(28) .circle {
  animation-delay: 2063ms;
}

.circle-container:nth-child(29) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-29;
  animation-duration: 36247ms;
  animation-delay: 8836ms;
}

@keyframes move-frames-29 {
  from {
    transform: translate3d(51vw, 97vh, 0);
  }
  to {
    transform: translate3d(78vw, -108vh, 0);
  }
}

.circle-container:nth-child(29) .circle {
  animation-delay: 3309ms;
}

.circle-container:nth-child(30) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-30;
  animation-duration: 34841ms;
  animation-delay: 4367ms;
}

@keyframes move-frames-30 {
  from {
    transform: translate3d(55vw, 92vh, 0);
  }
  to {
    transform: translate3d(94vw, -101vh, 0);
  }
}

.circle-container:nth-child(30) .circle {
  animation-delay: 2802ms;
}

.circle-container:nth-child(31) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-31;
  animation-duration: 30046ms;
  animation-delay: 12768ms;
}

@keyframes move-frames-31 {
  from {
    transform: translate3d(99vw, 97vh, 0);
  }
  to {
    transform: translate3d(81vw, -102vh, 0);
  }
}

.circle-container:nth-child(31) .circle {
  animation-delay: 1199ms;
}

.circle-container:nth-child(32) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-32;
  animation-duration: 33448ms;
  animation-delay: 2553ms;
}

@keyframes move-frames-32 {
  from {
    transform: translate3d(59vw, 97vh, 0);
  }
  to {
    transform: translate3d(68vw, -112vh, 0);
  }
}

.circle-container:nth-child(32) .circle {
  animation-delay: 1667ms;
}

.circle-container:nth-child(33) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-33;
  animation-duration: 29173ms;
  animation-delay: 36335ms;
}

@keyframes move-frames-33 {
  from {
    transform: translate3d(56vw, 95vh, 0);
  }
  to {
    transform: translate3d(23vw, -101vh, 0);
  }
}

.circle-container:nth-child(33) .circle {
  animation-delay: 1119ms;
}

.circle-container:nth-child(34) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-34;
  animation-duration: 35404ms;
  animation-delay: 4731ms;
}

@keyframes move-frames-34 {
  from {
    transform: translate3d(20vw, 97vh, 0);
  }
  to {
    transform: translate3d(87vw, -107vh, 0);
  }
}

.circle-container:nth-child(34) .circle {
  animation-delay: 2237ms;
}

.circle-container:nth-child(35) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-35;
  animation-duration: 29566ms;
  animation-delay: 9143ms;
}

@keyframes move-frames-35 {
  from {
    transform: translate3d(57vw, 94vh, 0);
  }
  to {
    transform: translate3d(36vw, -112vh, 0);
  }
}

.circle-container:nth-child(35) .circle {
  animation-delay: 234ms;
}

.circle-container:nth-child(36) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-36;
  animation-duration: 28150ms;
  animation-delay: 14034ms;
}

@keyframes move-frames-36 {
  from {
    transform: translate3d(90vw, 91vh, 0);
  }
  to {
    transform: translate3d(33vw, -102vh, 0);
  }
}

.circle-container:nth-child(36) .circle {
  animation-delay: 2119ms;
}

.circle-container:nth-child(37) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-37;
  animation-duration: 32330ms;
  animation-delay: 35829ms;
}

@keyframes move-frames-37 {
  from {
    transform: translate3d(82vw, 96vh, 0);
  }
  to {
    transform: translate3d(75vw, -125vh, 0);
  }
}

.circle-container:nth-child(37) .circle {
  animation-delay: 3286ms;
}

.circle-container:nth-child(38) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-38;
  animation-duration: 28869ms;
  animation-delay: 20374ms;
}

@keyframes move-frames-38 {
  from {
    transform: translate3d(34vw, 93vh, 0);
  }
  to {
    transform: translate3d(37vw, -117vh, 0);
  }
}

.circle-container:nth-child(38) .circle {
  animation-delay: 600ms;
}

.circle-container:nth-child(39) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-39;
  animation-duration: 33781ms;
  animation-delay: 33302ms;
}

@keyframes move-frames-39 {
  from {
    transform: translate3d(51vw, 91vh, 0);
  }
  to {
    transform: translate3d(38vw, -115vh, 0);
  }
}

.circle-container:nth-child(39) .circle {
  animation-delay: 3240ms;
}

.circle-container:nth-child(40) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-40;
  animation-duration: 30736ms;
  animation-delay: 27911ms;
}

@keyframes move-frames-40 {
  from {
    transform: translate3d(59vw, 95vh, 0);
  }
  to {
    transform: translate3d(19vw, -116vh, 0);
  }
}

.circle-container:nth-child(40) .circle {
  animation-delay: 3221ms;
}

.circle-container:nth-child(41) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-41;
  animation-duration: 31171ms;
  animation-delay: 4668ms;
}

@keyframes move-frames-41 {
  from {
    transform: translate3d(7vw, 96vh, 0);
  }
  to {
    transform: translate3d(29vw, -97vh, 0);
  }
}

.circle-container:nth-child(41) .circle {
  animation-delay: 1257ms;
}

.circle-container:nth-child(42) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-42;
  animation-duration: 31966ms;
  animation-delay: 31194ms;
}

@keyframes move-frames-42 {
  from {
    transform: translate3d(12vw, 91vh, 0);
  }
  to {
    transform: translate3d(66vw, -98vh, 0);
  }
}

.circle-container:nth-child(42) .circle {
  animation-delay: 3281ms;
}

.circle-container:nth-child(43) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-43;
  animation-duration: 35351ms;
  animation-delay: 20661ms;
}

@keyframes move-frames-43 {
  from {
    transform: translate3d(56vw, 95vh, 0);
  }
  to {
    transform: translate3d(39vw, -118vh, 0);
  }
}

.circle-container:nth-child(43) .circle {
  animation-delay: 468ms;
}

.circle-container:nth-child(44) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-44;
  animation-duration: 31779ms;
  animation-delay: 16988ms;
}

@keyframes move-frames-44 {
  from {
    transform: translate3d(74vw, 92vh, 0);
  }
  to {
    transform: translate3d(88vw, -100vh, 0);
  }
}

.circle-container:nth-child(44) .circle {
  animation-delay: 18ms;
}

.circle-container:nth-child(45) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-45;
  animation-duration: 34731ms;
  animation-delay: 7915ms;
}

@keyframes move-frames-45 {
  from {
    transform: translate3d(39vw, 94vh, 0);
  }
  to {
    transform: translate3d(74vw, -108vh, 0);
  }
}

.circle-container:nth-child(45) .circle {
  animation-delay: 3108ms;
}

.circle-container:nth-child(46) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-46;
  animation-duration: 33814ms;
  animation-delay: 3725ms;
}

@keyframes move-frames-46 {
  from {
    transform: translate3d(33vw, 98vh, 0);
  }
  to {
    transform: translate3d(47vw, -105vh, 0);
  }
}

.circle-container:nth-child(46) .circle {
  animation-delay: 2520ms;
}

.circle-container:nth-child(47) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-47;
  animation-duration: 29292ms;
  animation-delay: 13662ms;
}

@keyframes move-frames-47 {
  from {
    transform: translate3d(73vw, 98vh, 0);
  }
  to {
    transform: translate3d(97vw, -106vh, 0);
  }
}

.circle-container:nth-child(47) .circle {
  animation-delay: 1245ms;
}

.circle-container:nth-child(48) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-48;
  animation-duration: 28966ms;
  animation-delay: 21487ms;
}

@keyframes move-frames-48 {
  from {
    transform: translate3d(53vw, 97vh, 0);
  }
  to {
    transform: translate3d(5vw, -98vh, 0);
  }
}

.circle-container:nth-child(48) .circle {
  animation-delay: 1480ms;
}

.circle-container:nth-child(49) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-49;
  animation-duration: 30439ms;
  animation-delay: 18005ms;
}

@keyframes move-frames-49 {
  from {
    transform: translate3d(60vw, 98vh, 0);
  }
  to {
    transform: translate3d(13vw, -102vh, 0);
  }
}

.circle-container:nth-child(49) .circle {
  animation-delay: 1755ms;
}

.circle-container:nth-child(50) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-50;
  animation-duration: 34131ms;
  animation-delay: 34540ms;
}

@keyframes move-frames-50 {
  from {
    transform: translate3d(45vw, 91vh, 0);
  }
  to {
    transform: translate3d(57vw, -118vh, 0);
  }
}

.circle-container:nth-child(50) .circle {
  animation-delay: 3906ms;
}

.circle-container:nth-child(51) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-51;
  animation-duration: 31291ms;
  animation-delay: 20132ms;
}

@keyframes move-frames-51 {
  from {
    transform: translate3d(100vw, 99vh, 0);
  }
  to {
    transform: translate3d(81vw, -118vh, 0);
  }
}

.circle-container:nth-child(51) .circle {
  animation-delay: 1829ms;
}

.circle-container:nth-child(52) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-52;
  animation-duration: 29231ms;
  animation-delay: 14758ms;
}

@keyframes move-frames-52 {
  from {
    transform: translate3d(46vw, 97vh, 0);
  }
  to {
    transform: translate3d(86vw, -104vh, 0);
  }
}

.circle-container:nth-child(52) .circle {
  animation-delay: 2763ms;
}

.circle-container:nth-child(53) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-53;
  animation-duration: 30407ms;
  animation-delay: 26134ms;
}

@keyframes move-frames-53 {
  from {
    transform: translate3d(86vw, 94vh, 0);
  }
  to {
    transform: translate3d(64vw, -108vh, 0);
  }
}

.circle-container:nth-child(53) .circle {
  animation-delay: 2942ms;
}

.circle-container:nth-child(54) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-54;
  animation-duration: 29309ms;
  animation-delay: 32683ms;
}

@keyframes move-frames-54 {
  from {
    transform: translate3d(91vw, 98vh, 0);
  }
  to {
    transform: translate3d(68vw, -116vh, 0);
  }
}

.circle-container:nth-child(54) .circle {
  animation-delay: 2202ms;
}

.circle-container:nth-child(55) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-55;
  animation-duration: 31838ms;
  animation-delay: 23653ms;
}

@keyframes move-frames-55 {
  from {
    transform: translate3d(77vw, 95vh, 0);
  }
  to {
    transform: translate3d(98vw, -113vh, 0);
  }
}

.circle-container:nth-child(55) .circle {
  animation-delay: 2013ms;
}

.circle-container:nth-child(56) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-56;
  animation-duration: 29676ms;
  animation-delay: 4316ms;
}

@keyframes move-frames-56 {
  from {
    transform: translate3d(79vw, 91vh, 0);
  }
  to {
    transform: translate3d(11vw, -100vh, 0);
  }
}

.circle-container:nth-child(56) .circle {
  animation-delay: 3220ms;
}

.circle-container:nth-child(57) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-57;
  animation-duration: 35352ms;
  animation-delay: 19815ms;
}

@keyframes move-frames-57 {
  from {
    transform: translate3d(30vw, 100vh, 0);
  }
  to {
    transform: translate3d(62vw, -127vh, 0);
  }
}

.circle-container:nth-child(57) .circle {
  animation-delay: 2810ms;
}

.circle-container:nth-child(58) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-58;
  animation-duration: 33808ms;
  animation-delay: 22697ms;
}

@keyframes move-frames-58 {
  from {
    transform: translate3d(38vw, 95vh, 0);
  }
  to {
    transform: translate3d(42vw, -117vh, 0);
  }
}

.circle-container:nth-child(58) .circle {
  animation-delay: 1912ms;
}

.circle-container:nth-child(59) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-59;
  animation-duration: 28992ms;
  animation-delay: 36085ms;
}

@keyframes move-frames-59 {
  from {
    transform: translate3d(67vw, 97vh, 0);
  }
  to {
    transform: translate3d(57vw, -99vh, 0);
  }
}

.circle-container:nth-child(59) .circle {
  animation-delay: 1548ms;
}

.circle-container:nth-child(60) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-60;
  animation-duration: 32729ms;
  animation-delay: 23443ms;
}

@keyframes move-frames-60 {
  from {
    transform: translate3d(27vw, 95vh, 0);
  }
  to {
    transform: translate3d(60vw, -112vh, 0);
  }
}

.circle-container:nth-child(60) .circle {
  animation-delay: 641ms;
}

.circle-container:nth-child(61) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-61;
  animation-duration: 35353ms;
  animation-delay: 16512ms;
}

@keyframes move-frames-61 {
  from {
    transform: translate3d(48vw, 94vh, 0);
  }
  to {
    transform: translate3d(33vw, -116vh, 0);
  }
}

.circle-container:nth-child(61) .circle {
  animation-delay: 344ms;
}

.circle-container:nth-child(62) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-62;
  animation-duration: 34427ms;
  animation-delay: 6249ms;
}

@keyframes move-frames-62 {
  from {
    transform: translate3d(62vw, 94vh, 0);
  }
  to {
    transform: translate3d(21vw, -105vh, 0);
  }
}

.circle-container:nth-child(62) .circle {
  animation-delay: 1002ms;
}

.circle-container:nth-child(63) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-63;
  animation-duration: 30630ms;
  animation-delay: 19107ms;
}

@keyframes move-frames-63 {
  from {
    transform: translate3d(32vw, 97vh, 0);
  }
  to {
    transform: translate3d(2vw, -103vh, 0);
  }
}

.circle-container:nth-child(63) .circle {
  animation-delay: 412ms;
}

.circle-container:nth-child(64) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-64;
  animation-duration: 36564ms;
  animation-delay: 16834ms;
}

@keyframes move-frames-64 {
  from {
    transform: translate3d(46vw, 93vh, 0);
  }
  to {
    transform: translate3d(28vw, -122vh, 0);
  }
}

.circle-container:nth-child(64) .circle {
  animation-delay: 2895ms;
}

.circle-container:nth-child(65) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-65;
  animation-duration: 30919ms;
  animation-delay: 21124ms;
}

@keyframes move-frames-65 {
  from {
    transform: translate3d(99vw, 97vh, 0);
  }
  to {
    transform: translate3d(57vw, -127vh, 0);
  }
}

.circle-container:nth-child(65) .circle {
  animation-delay: 2568ms;
}

.circle-container:nth-child(66) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-66;
  animation-duration: 31831ms;
  animation-delay: 34309ms;
}

@keyframes move-frames-66 {
  from {
    transform: translate3d(84vw, 99vh, 0);
  }
  to {
    transform: translate3d(36vw, -115vh, 0);
  }
}

.circle-container:nth-child(66) .circle {
  animation-delay: 2343ms;
}

.circle-container:nth-child(67) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-67;
  animation-duration: 29221ms;
  animation-delay: 32944ms;
}

@keyframes move-frames-67 {
  from {
    transform: translate3d(10vw, 99vh, 0);
  }
  to {
    transform: translate3d(37vw, -120vh, 0);
  }
}

.circle-container:nth-child(67) .circle {
  animation-delay: 2138ms;
}

.circle-container:nth-child(68) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-68;
  animation-duration: 28141ms;
  animation-delay: 30790ms;
}

@keyframes move-frames-68 {
  from {
    transform: translate3d(45vw, 99vh, 0);
  }
  to {
    transform: translate3d(86vw, -104vh, 0);
  }
}

.circle-container:nth-child(68) .circle {
  animation-delay: 689ms;
}

.circle-container:nth-child(69) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-69;
  animation-duration: 33143ms;
  animation-delay: 34842ms;
}

@keyframes move-frames-69 {
  from {
    transform: translate3d(64vw, 97vh, 0);
  }
  to {
    transform: translate3d(65vw, -110vh, 0);
  }
}

.circle-container:nth-child(69) .circle {
  animation-delay: 52ms;
}

.circle-container:nth-child(70) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-70;
  animation-duration: 30715ms;
  animation-delay: 13110ms;
}

@keyframes move-frames-70 {
  from {
    transform: translate3d(85vw, 100vh, 0);
  }
  to {
    transform: translate3d(47vw, -127vh, 0);
  }
}

.circle-container:nth-child(70) .circle {
  animation-delay: 333ms;
}

.circle-container:nth-child(71) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-71;
  animation-duration: 35197ms;
  animation-delay: 26928ms;
}

@keyframes move-frames-71 {
  from {
    transform: translate3d(18vw, 95vh, 0);
  }
  to {
    transform: translate3d(22vw, -102vh, 0);
  }
}

.circle-container:nth-child(71) .circle {
  animation-delay: 924ms;
}

.circle-container:nth-child(72) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-72;
  animation-duration: 28746ms;
  animation-delay: 25575ms;
}

@keyframes move-frames-72 {
  from {
    transform: translate3d(76vw, 95vh, 0);
  }
  to {
    transform: translate3d(26vw, -112vh, 0);
  }
}

.circle-container:nth-child(72) .circle {
  animation-delay: 1192ms;
}

.circle-container:nth-child(73) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-73;
  animation-duration: 33118ms;
  animation-delay: 21197ms;
}

@keyframes move-frames-73 {
  from {
    transform: translate3d(70vw, 100vh, 0);
  }
  to {
    transform: translate3d(56vw, -111vh, 0);
  }
}

.circle-container:nth-child(73) .circle {
  animation-delay: 3963ms;
}

.circle-container:nth-child(74) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-74;
  animation-duration: 36209ms;
  animation-delay: 27393ms;
}

@keyframes move-frames-74 {
  from {
    transform: translate3d(69vw, 93vh, 0);
  }
  to {
    transform: translate3d(27vw, -98vh, 0);
  }
}

.circle-container:nth-child(74) .circle {
  animation-delay: 1798ms;
}

.circle-container:nth-child(75) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-75;
  animation-duration: 28031ms;
  animation-delay: 17323ms;
}

@keyframes move-frames-75 {
  from {
    transform: translate3d(62vw, 97vh, 0);
  }
  to {
    transform: translate3d(45vw, -113vh, 0);
  }
}

.circle-container:nth-child(75) .circle {
  animation-delay: 3972ms;
}

.circle-container:nth-child(76) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-76;
  animation-duration: 30391ms;
  animation-delay: 19838ms;
}

@keyframes move-frames-76 {
  from {
    transform: translate3d(35vw, 98vh, 0);
  }
  to {
    transform: translate3d(19vw, -105vh, 0);
  }
}

.circle-container:nth-child(76) .circle {
  animation-delay: 3168ms;
}

.circle-container:nth-child(77) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-77;
  animation-duration: 33063ms;
  animation-delay: 15534ms;
}

@keyframes move-frames-77 {
  from {
    transform: translate3d(46vw, 94vh, 0);
  }
  to {
    transform: translate3d(38vw, -108vh, 0);
  }
}

.circle-container:nth-child(77) .circle {
  animation-delay: 2901ms;
}

.circle-container:nth-child(78) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-78;
  animation-duration: 35640ms;
  animation-delay: 293ms;
}

@keyframes move-frames-78 {
  from {
    transform: translate3d(9vw, 98vh, 0);
  }
  to {
    transform: translate3d(56vw, -113vh, 0);
  }
}

.circle-container:nth-child(78) .circle {
  animation-delay: 3677ms;
}

.circle-container:nth-child(79) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-79;
  animation-duration: 28618ms;
  animation-delay: 32265ms;
}

@keyframes move-frames-79 {
  from {
    transform: translate3d(54vw, 100vh, 0);
  }
  to {
    transform: translate3d(60vw, -101vh, 0);
  }
}

.circle-container:nth-child(79) .circle {
  animation-delay: 3392ms;
}

.circle-container:nth-child(80) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-80;
  animation-duration: 36241ms;
  animation-delay: 26120ms;
}

@keyframes move-frames-80 {
  from {
    transform: translate3d(99vw, 93vh, 0);
  }
  to {
    transform: translate3d(53vw, -96vh, 0);
  }
}

.circle-container:nth-child(80) .circle {
  animation-delay: 3911ms;
}

.circle-container:nth-child(81) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-81;
  animation-duration: 29725ms;
  animation-delay: 34448ms;
}

@keyframes move-frames-81 {
  from {
    transform: translate3d(45vw, 94vh, 0);
  }
  to {
    transform: translate3d(50vw, -110vh, 0);
  }
}

.circle-container:nth-child(81) .circle {
  animation-delay: 3526ms;
}

.circle-container:nth-child(82) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-82;
  animation-duration: 29127ms;
  animation-delay: 22245ms;
}

@keyframes move-frames-82 {
  from {
    transform: translate3d(16vw, 91vh, 0);
  }
  to {
    transform: translate3d(66vw, -92vh, 0);
  }
}

.circle-container:nth-child(82) .circle {
  animation-delay: 3182ms;
}

.circle-container:nth-child(83) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-83;
  animation-duration: 36010ms;
  animation-delay: 28464ms;
}

@keyframes move-frames-83 {
  from {
    transform: translate3d(12vw, 92vh, 0);
  }
  to {
    transform: translate3d(84vw, -111vh, 0);
  }
}

.circle-container:nth-child(83) .circle {
  animation-delay: 3960ms;
}

.circle-container:nth-child(84) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-84;
  animation-duration: 31211ms;
  animation-delay: 13305ms;
}

@keyframes move-frames-84 {
  from {
    transform: translate3d(25vw, 93vh, 0);
  }
  to {
    transform: translate3d(22vw, -114vh, 0);
  }
}

.circle-container:nth-child(84) .circle {
  animation-delay: 2692ms;
}

.circle-container:nth-child(85) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-85;
  animation-duration: 29226ms;
  animation-delay: 30238ms;
}

@keyframes move-frames-85 {
  from {
    transform: translate3d(76vw, 100vh, 0);
  }
  to {
    transform: translate3d(3vw, -106vh, 0);
  }
}

.circle-container:nth-child(85) .circle {
  animation-delay: 1883ms;
}

.circle-container:nth-child(86) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-86;
  animation-duration: 33024ms;
  animation-delay: 9457ms;
}

@keyframes move-frames-86 {
  from {
    transform: translate3d(43vw, 98vh, 0);
  }
  to {
    transform: translate3d(7vw, -119vh, 0);
  }
}

.circle-container:nth-child(86) .circle {
  animation-delay: 2068ms;
}

.circle-container:nth-child(87) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-87;
  animation-duration: 30930ms;
  animation-delay: 12536ms;
}

@keyframes move-frames-87 {
  from {
    transform: translate3d(8vw, 100vh, 0);
  }
  to {
    transform: translate3d(19vw, -101vh, 0);
  }
}

.circle-container:nth-child(87) .circle {
  animation-delay: 1368ms;
}

.circle-container:nth-child(88) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-88;
  animation-duration: 30047ms;
  animation-delay: 12522ms;
}

@keyframes move-frames-88 {
  from {
    transform: translate3d(12vw, 94vh, 0);
  }
  to {
    transform: translate3d(16vw, -113vh, 0);
  }
}

.circle-container:nth-child(88) .circle {
  animation-delay: 3693ms;
}

.circle-container:nth-child(89) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-89;
  animation-duration: 28946ms;
  animation-delay: 28590ms;
}

@keyframes move-frames-89 {
  from {
    transform: translate3d(82vw, 99vh, 0);
  }
  to {
    transform: translate3d(47vw, -104vh, 0);
  }
}

.circle-container:nth-child(89) .circle {
  animation-delay: 1049ms;
}

.circle-container:nth-child(90) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-90;
  animation-duration: 35269ms;
  animation-delay: 21493ms;
}

@keyframes move-frames-90 {
  from {
    transform: translate3d(10vw, 94vh, 0);
  }
  to {
    transform: translate3d(19vw, -100vh, 0);
  }
}

.circle-container:nth-child(90) .circle {
  animation-delay: 2415ms;
}

.circle-container:nth-child(91) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-91;
  animation-duration: 32994ms;
  animation-delay: 28816ms;
}

@keyframes move-frames-91 {
  from {
    transform: translate3d(23vw, 94vh, 0);
  }
  to {
    transform: translate3d(84vw, -108vh, 0);
  }
}

.circle-container:nth-child(91) .circle {
  animation-delay: 2906ms;
}

.circle-container:nth-child(92) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-92;
  animation-duration: 35058ms;
  animation-delay: 34560ms;
}

@keyframes move-frames-92 {
  from {
    transform: translate3d(86vw, 92vh, 0);
  }
  to {
    transform: translate3d(88vw, -112vh, 0);
  }
}

.circle-container:nth-child(92) .circle {
  animation-delay: 3251ms;
}

.circle-container:nth-child(93) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-93;
  animation-duration: 29843ms;
  animation-delay: 3973ms;
}

@keyframes move-frames-93 {
  from {
    transform: translate3d(64vw, 97vh, 0);
  }
  to {
    transform: translate3d(43vw, -123vh, 0);
  }
}

.circle-container:nth-child(93) .circle {
  animation-delay: 2439ms;
}

.circle-container:nth-child(94) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-94;
  animation-duration: 33464ms;
  animation-delay: 11332ms;
}

@keyframes move-frames-94 {
  from {
    transform: translate3d(89vw, 92vh, 0);
  }
  to {
    transform: translate3d(34vw, -99vh, 0);
  }
}

.circle-container:nth-child(94) .circle {
  animation-delay: 1621ms;
}

.circle-container:nth-child(95) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-95;
  animation-duration: 28567ms;
  animation-delay: 28918ms;
}

@keyframes move-frames-95 {
  from {
    transform: translate3d(12vw, 92vh, 0);
  }
  to {
    transform: translate3d(94vw, -112vh, 0);
  }
}

.circle-container:nth-child(95) .circle {
  animation-delay: 1341ms;
}

.circle-container:nth-child(96) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-96;
  animation-duration: 31322ms;
  animation-delay: 5950ms;
}

@keyframes move-frames-96 {
  from {
    transform: translate3d(72vw, 97vh, 0);
  }
  to {
    transform: translate3d(38vw, -124vh, 0);
  }
}

.circle-container:nth-child(96) .circle {
  animation-delay: 1582ms;
}

.circle-container:nth-child(97) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-97;
  animation-duration: 34842ms;
  animation-delay: 8570ms;
}

@keyframes move-frames-97 {
  from {
    transform: translate3d(53vw, 99vh, 0);
  }
  to {
    transform: translate3d(31vw, -108vh, 0);
  }
}

.circle-container:nth-child(97) .circle {
  animation-delay: 406ms;
}

.circle-container:nth-child(98) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-98;
  animation-duration: 32419ms;
  animation-delay: 12345ms;
}

@keyframes move-frames-98 {
  from {
    transform: translate3d(3vw, 98vh, 0);
  }
  to {
    transform: translate3d(78vw, -125vh, 0);
  }
}

.circle-container:nth-child(98) .circle {
  animation-delay: 2355ms;
}

.circle-container:nth-child(99) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-99;
  animation-duration: 29323ms;
  animation-delay: 2083ms;
}

@keyframes move-frames-99 {
  from {
    transform: translate3d(56vw, 96vh, 0);
  }
  to {
    transform: translate3d(27vw, -120vh, 0);
  }
}

.circle-container:nth-child(99) .circle {
  animation-delay: 644ms;
}

.circle-container:nth-child(100) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-100;
  animation-duration: 31439ms;
  animation-delay: 8008ms;
}

@keyframes move-frames-100 {
  from {
    transform: translate3d(86vw, 95vh, 0);
  }
  to {
    transform: translate3d(16vw, -99vh, 0);
  }
}

.circle-container:nth-child(100) .circle {
  animation-delay: 3278ms;
}

.circle-container:nth-child(101) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-101;
  animation-duration: 35907ms;
  animation-delay: 29374ms;
}

@keyframes move-frames-101 {
  from {
    transform: translate3d(25vw, 91vh, 0);
  }
  to {
    transform: translate3d(20vw, -102vh, 0);
  }
}

.circle-container:nth-child(101) .circle {
  animation-delay: 1433ms;
}

.circle-container:nth-child(102) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-102;
  animation-duration: 31571ms;
  animation-delay: 4730ms;
}

@keyframes move-frames-102 {
  from {
    transform: translate3d(35vw, 99vh, 0);
  }
  to {
    transform: translate3d(83vw, -128vh, 0);
  }
}

.circle-container:nth-child(102) .circle {
  animation-delay: 521ms;
}

.circle-container:nth-child(103) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-103;
  animation-duration: 34971ms;
  animation-delay: 22101ms;
}

@keyframes move-frames-103 {
  from {
    transform: translate3d(28vw, 100vh, 0);
  }
  to {
    transform: translate3d(48vw, -112vh, 0);
  }
}

.circle-container:nth-child(103) .circle {
  animation-delay: 1107ms;
}

.circle-container:nth-child(104) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-104;
  animation-duration: 36476ms;
  animation-delay: 1432ms;
}

@keyframes move-frames-104 {
  from {
    transform: translate3d(96vw, 95vh, 0);
  }
  to {
    transform: translate3d(50vw, -103vh, 0);
  }
}

.circle-container:nth-child(104) .circle {
  animation-delay: 973ms;
}

.circle-container:nth-child(105) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-105;
  animation-duration: 35211ms;
  animation-delay: 21470ms;
}

@keyframes move-frames-105 {
  from {
    transform: translate3d(57vw, 94vh, 0);
  }
  to {
    transform: translate3d(17vw, -107vh, 0);
  }
}

.circle-container:nth-child(105) .circle {
  animation-delay: 949ms;
}

.circle-container:nth-child(106) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-106;
  animation-duration: 31650ms;
  animation-delay: 25547ms;
}

@keyframes move-frames-106 {
  from {
    transform: translate3d(44vw, 91vh, 0);
  }
  to {
    transform: translate3d(20vw, -102vh, 0);
  }
}

.circle-container:nth-child(106) .circle {
  animation-delay: 1256ms;
}

.circle-container:nth-child(107) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-107;
  animation-duration: 29152ms;
  animation-delay: 9410ms;
}

@keyframes move-frames-107 {
  from {
    transform: translate3d(65vw, 96vh, 0);
  }
  to {
    transform: translate3d(23vw, -97vh, 0);
  }
}

.circle-container:nth-child(107) .circle {
  animation-delay: 2556ms;
}

.circle-container:nth-child(108) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-108;
  animation-duration: 36022ms;
  animation-delay: 32151ms;
}

@keyframes move-frames-108 {
  from {
    transform: translate3d(9vw, 92vh, 0);
  }
  to {
    transform: translate3d(92vw, -121vh, 0);
  }
}

.circle-container:nth-child(108) .circle {
  animation-delay: 1155ms;
}

.circle-container:nth-child(109) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-109;
  animation-duration: 35970ms;
  animation-delay: 21173ms;
}

@keyframes move-frames-109 {
  from {
    transform: translate3d(5vw, 94vh, 0);
  }
  to {
    transform: translate3d(41vw, -111vh, 0);
  }
}

.circle-container:nth-child(109) .circle {
  animation-delay: 2968ms;
}

.circle-container:nth-child(110) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-110;
  animation-duration: 31034ms;
  animation-delay: 1739ms;
}

@keyframes move-frames-110 {
  from {
    transform: translate3d(7vw, 99vh, 0);
  }
  to {
    transform: translate3d(56vw, -104vh, 0);
  }
}

.circle-container:nth-child(110) .circle {
  animation-delay: 3198ms;
}

.circle-container:nth-child(111) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-111;
  animation-duration: 33393ms;
  animation-delay: 29758ms;
}

@keyframes move-frames-111 {
  from {
    transform: translate3d(78vw, 98vh, 0);
  }
  to {
    transform: translate3d(65vw, -106vh, 0);
  }
}

.circle-container:nth-child(111) .circle {
  animation-delay: 3949ms;
}

.circle-container:nth-child(112) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-112;
  animation-duration: 29856ms;
  animation-delay: 5890ms;
}

@keyframes move-frames-112 {
  from {
    transform: translate3d(79vw, 95vh, 0);
  }
  to {
    transform: translate3d(47vw, -115vh, 0);
  }
}

.circle-container:nth-child(112) .circle {
  animation-delay: 1617ms;
}

.circle-container:nth-child(113) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-113;
  animation-duration: 29144ms;
  animation-delay: 11748ms;
}

@keyframes move-frames-113 {
  from {
    transform: translate3d(29vw, 93vh, 0);
  }
  to {
    transform: translate3d(46vw, -108vh, 0);
  }
}

.circle-container:nth-child(113) .circle {
  animation-delay: 325ms;
}

.circle-container:nth-child(114) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-114;
  animation-duration: 31004ms;
  animation-delay: 32169ms;
}

@keyframes move-frames-114 {
  from {
    transform: translate3d(52vw, 99vh, 0);
  }
  to {
    transform: translate3d(10vw, -111vh, 0);
  }
}

.circle-container:nth-child(114) .circle {
  animation-delay: 3057ms;
}

.circle-container:nth-child(115) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-115;
  animation-duration: 29109ms;
  animation-delay: 33965ms;
}

@keyframes move-frames-115 {
  from {
    transform: translate3d(26vw, 100vh, 0);
  }
  to {
    transform: translate3d(46vw, -110vh, 0);
  }
}

.circle-container:nth-child(115) .circle {
  animation-delay: 2867ms;
}

.circle-container:nth-child(116) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-116;
  animation-duration: 35990ms;
  animation-delay: 36086ms;
}

@keyframes move-frames-116 {
  from {
    transform: translate3d(72vw, 97vh, 0);
  }
  to {
    transform: translate3d(92vw, -103vh, 0);
  }
}

.circle-container:nth-child(116) .circle {
  animation-delay: 1826ms;
}

.circle-container:nth-child(117) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-117;
  animation-duration: 33268ms;
  animation-delay: 25989ms;
}

@keyframes move-frames-117 {
  from {
    transform: translate3d(37vw, 99vh, 0);
  }
  to {
    transform: translate3d(88vw, -117vh, 0);
  }
}

.circle-container:nth-child(117) .circle {
  animation-delay: 3406ms;
}

.circle-container:nth-child(118) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-118;
  animation-duration: 29793ms;
  animation-delay: 31986ms;
}

@keyframes move-frames-118 {
  from {
    transform: translate3d(12vw, 93vh, 0);
  }
  to {
    transform: translate3d(40vw, -112vh, 0);
  }
}

.circle-container:nth-child(118) .circle {
  animation-delay: 574ms;
}

.circle-container:nth-child(119) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-119;
  animation-duration: 33545ms;
  animation-delay: 15559ms;
}

@keyframes move-frames-119 {
  from {
    transform: translate3d(74vw, 92vh, 0);
  }
  to {
    transform: translate3d(42vw, -105vh, 0);
  }
}

.circle-container:nth-child(119) .circle {
  animation-delay: 2318ms;
}

.circle-container:nth-child(120) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-120;
  animation-duration: 28324ms;
  animation-delay: 24505ms;
}

@keyframes move-frames-120 {
  from {
    transform: translate3d(74vw, 99vh, 0);
  }
  to {
    transform: translate3d(60vw, -108vh, 0);
  }
}

.circle-container:nth-child(120) .circle {
  animation-delay: 1121ms;
}

.circle-container:nth-child(121) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-121;
  animation-duration: 30503ms;
  animation-delay: 25354ms;
}

@keyframes move-frames-121 {
  from {
    transform: translate3d(14vw, 96vh, 0);
  }
  to {
    transform: translate3d(28vw, -102vh, 0);
  }
}

.circle-container:nth-child(121) .circle {
  animation-delay: 3879ms;
}

.circle-container:nth-child(122) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-122;
  animation-duration: 34691ms;
  animation-delay: 8342ms;
}

@keyframes move-frames-122 {
  from {
    transform: translate3d(5vw, 98vh, 0);
  }
  to {
    transform: translate3d(91vw, -115vh, 0);
  }
}

.circle-container:nth-child(122) .circle {
  animation-delay: 756ms;
}

.circle-container:nth-child(123) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-123;
  animation-duration: 35874ms;
  animation-delay: 27264ms;
}

@keyframes move-frames-123 {
  from {
    transform: translate3d(99vw, 98vh, 0);
  }
  to {
    transform: translate3d(4vw, -115vh, 0);
  }
}

.circle-container:nth-child(123) .circle {
  animation-delay: 765ms;
}

.circle-container:nth-child(124) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-124;
  animation-duration: 36153ms;
  animation-delay: 27526ms;
}

@keyframes move-frames-124 {
  from {
    transform: translate3d(60vw, 95vh, 0);
  }
  to {
    transform: translate3d(85vw, -111vh, 0);
  }
}

.circle-container:nth-child(124) .circle {
  animation-delay: 2656ms;
}

.circle-container:nth-child(125) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-125;
  animation-duration: 36391ms;
  animation-delay: 18650ms;
}

@keyframes move-frames-125 {
  from {
    transform: translate3d(52vw, 94vh, 0);
  }
  to {
    transform: translate3d(86vw, -107vh, 0);
  }
}

.circle-container:nth-child(125) .circle {
  animation-delay: 3369ms;
}

.circle-container:nth-child(126) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-126;
  animation-duration: 36810ms;
  animation-delay: 34404ms;
}

@keyframes move-frames-126 {
  from {
    transform: translate3d(76vw, 96vh, 0);
  }
  to {
    transform: translate3d(38vw, -110vh, 0);
  }
}

.circle-container:nth-child(126) .circle {
  animation-delay: 3487ms;
}

.circle-container:nth-child(127) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-127;
  animation-duration: 36449ms;
  animation-delay: 9042ms;
}

@keyframes move-frames-127 {
  from {
    transform: translate3d(82vw, 93vh, 0);
  }
  to {
    transform: translate3d(100vw, -109vh, 0);
  }
}

.circle-container:nth-child(127) .circle {
  animation-delay: 1696ms;
}

.circle-container:nth-child(128) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-128;
  animation-duration: 30894ms;
  animation-delay: 23534ms;
}

@keyframes move-frames-128 {
  from {
    transform: translate3d(3vw, 98vh, 0);
  }
  to {
    transform: translate3d(40vw, -105vh, 0);
  }
}

.circle-container:nth-child(128) .circle {
  animation-delay: 2615ms;
}

.circle-container:nth-child(129) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-129;
  animation-duration: 30122ms;
  animation-delay: 17287ms;
}

@keyframes move-frames-129 {
  from {
    transform: translate3d(65vw, 93vh, 0);
  }
  to {
    transform: translate3d(71vw, -118vh, 0);
  }
}

.circle-container:nth-child(129) .circle {
  animation-delay: 452ms;
}

.circle-container:nth-child(130) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-130;
  animation-duration: 32613ms;
  animation-delay: 11457ms;
}

@keyframes move-frames-130 {
  from {
    transform: translate3d(74vw, 94vh, 0);
  }
  to {
    transform: translate3d(54vw, -102vh, 0);
  }
}

.circle-container:nth-child(130) .circle {
  animation-delay: 3285ms;
}

.circle-container:nth-child(131) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-131;
  animation-duration: 31420ms;
  animation-delay: 5804ms;
}

@keyframes move-frames-131 {
  from {
    transform: translate3d(94vw, 98vh, 0);
  }
  to {
    transform: translate3d(77vw, -108vh, 0);
  }
}

.circle-container:nth-child(131) .circle {
  animation-delay: 3193ms;
}

.circle-container:nth-child(132) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-132;
  animation-duration: 34209ms;
  animation-delay: 17955ms;
}

@keyframes move-frames-132 {
  from {
    transform: translate3d(39vw, 91vh, 0);
  }
  to {
    transform: translate3d(2vw, -113vh, 0);
  }
}

.circle-container:nth-child(132) .circle {
  animation-delay: 144ms;
}

.circle-container:nth-child(133) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-133;
  animation-duration: 35704ms;
  animation-delay: 21182ms;
}

@keyframes move-frames-133 {
  from {
    transform: translate3d(64vw, 98vh, 0);
  }
  to {
    transform: translate3d(31vw, -102vh, 0);
  }
}

.circle-container:nth-child(133) .circle {
  animation-delay: 1787ms;
}

.circle-container:nth-child(134) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-134;
  animation-duration: 30779ms;
  animation-delay: 28278ms;
}

@keyframes move-frames-134 {
  from {
    transform: translate3d(22vw, 100vh, 0);
  }
  to {
    transform: translate3d(39vw, -130vh, 0);
  }
}

.circle-container:nth-child(134) .circle {
  animation-delay: 1077ms;
}

.circle-container:nth-child(135) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-135;
  animation-duration: 32610ms;
  animation-delay: 26308ms;
}

@keyframes move-frames-135 {
  from {
    transform: translate3d(5vw, 97vh, 0);
  }
  to {
    transform: translate3d(27vw, -127vh, 0);
  }
}

.circle-container:nth-child(135) .circle {
  animation-delay: 1406ms;
}

.circle-container:nth-child(136) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-136;
  animation-duration: 34090ms;
  animation-delay: 11481ms;
}

@keyframes move-frames-136 {
  from {
    transform: translate3d(49vw, 91vh, 0);
  }
  to {
    transform: translate3d(81vw, -102vh, 0);
  }
}

.circle-container:nth-child(136) .circle {
  animation-delay: 3558ms;
}

.circle-container:nth-child(137) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-137;
  animation-duration: 33216ms;
  animation-delay: 13783ms;
}

@keyframes move-frames-137 {
  from {
    transform: translate3d(6vw, 95vh, 0);
  }
  to {
    transform: translate3d(19vw, -113vh, 0);
  }
}

.circle-container:nth-child(137) .circle {
  animation-delay: 3398ms;
}

.circle-container:nth-child(138) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-138;
  animation-duration: 35613ms;
  animation-delay: 17183ms;
}

@keyframes move-frames-138 {
  from {
    transform: translate3d(4vw, 98vh, 0);
  }
  to {
    transform: translate3d(85vw, -99vh, 0);
  }
}

.circle-container:nth-child(138) .circle {
  animation-delay: 1756ms;
}

.circle-container:nth-child(139) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-139;
  animation-duration: 36684ms;
  animation-delay: 22785ms;
}

@keyframes move-frames-139 {
  from {
    transform: translate3d(30vw, 96vh, 0);
  }
  to {
    transform: translate3d(73vw, -119vh, 0);
  }
}

.circle-container:nth-child(139) .circle {
  animation-delay: 3921ms;
}

.circle-container:nth-child(140) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-140;
  animation-duration: 35169ms;
  animation-delay: 24081ms;
}

@keyframes move-frames-140 {
  from {
    transform: translate3d(8vw, 96vh, 0);
  }
  to {
    transform: translate3d(31vw, -117vh, 0);
  }
}

.circle-container:nth-child(140) .circle {
  animation-delay: 316ms;
}

.circle-container:nth-child(141) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-141;
  animation-duration: 31093ms;
  animation-delay: 7881ms;
}

@keyframes move-frames-141 {
  from {
    transform: translate3d(12vw, 99vh, 0);
  }
  to {
    transform: translate3d(22vw, -129vh, 0);
  }
}

.circle-container:nth-child(141) .circle {
  animation-delay: 1173ms;
}

.circle-container:nth-child(142) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-142;
  animation-duration: 34970ms;
  animation-delay: 36684ms;
}

@keyframes move-frames-142 {
  from {
    transform: translate3d(53vw, 100vh, 0);
  }
  to {
    transform: translate3d(76vw, -128vh, 0);
  }
}

.circle-container:nth-child(142) .circle {
  animation-delay: 1750ms;
}

.circle-container:nth-child(143) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-143;
  animation-duration: 34101ms;
  animation-delay: 35018ms;
}

@keyframes move-frames-143 {
  from {
    transform: translate3d(8vw, 93vh, 0);
  }
  to {
    transform: translate3d(3vw, -103vh, 0);
  }
}

.circle-container:nth-child(143) .circle {
  animation-delay: 3352ms;
}

.circle-container:nth-child(144) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-144;
  animation-duration: 30630ms;
  animation-delay: 1817ms;
}

@keyframes move-frames-144 {
  from {
    transform: translate3d(21vw, 94vh, 0);
  }
  to {
    transform: translate3d(95vw, -110vh, 0);
  }
}

.circle-container:nth-child(144) .circle {
  animation-delay: 2175ms;
}

.circle-container:nth-child(145) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-145;
  animation-duration: 34453ms;
  animation-delay: 20770ms;
}

@keyframes move-frames-145 {
  from {
    transform: translate3d(47vw, 95vh, 0);
  }
  to {
    transform: translate3d(61vw, -101vh, 0);
  }
}

.circle-container:nth-child(145) .circle {
  animation-delay: 2821ms;
}

.circle-container:nth-child(146) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-146;
  animation-duration: 31928ms;
  animation-delay: 24452ms;
}

@keyframes move-frames-146 {
  from {
    transform: translate3d(6vw, 97vh, 0);
  }
  to {
    transform: translate3d(76vw, -113vh, 0);
  }
}

.circle-container:nth-child(146) .circle {
  animation-delay: 3522ms;
}

.circle-container:nth-child(147) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-147;
  animation-duration: 28501ms;
  animation-delay: 34665ms;
}

@keyframes move-frames-147 {
  from {
    transform: translate3d(58vw, 97vh, 0);
  }
  to {
    transform: translate3d(98vw, -114vh, 0);
  }
}

.circle-container:nth-child(147) .circle {
  animation-delay: 643ms;
}

.circle-container:nth-child(148) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-148;
  animation-duration: 33172ms;
  animation-delay: 436ms;
}

@keyframes move-frames-148 {
  from {
    transform: translate3d(40vw, 94vh, 0);
  }
  to {
    transform: translate3d(59vw, -103vh, 0);
  }
}

.circle-container:nth-child(148) .circle {
  animation-delay: 3939ms;
}

.circle-container:nth-child(149) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-149;
  animation-duration: 32450ms;
  animation-delay: 3591ms;
}

@keyframes move-frames-149 {
  from {
    transform: translate3d(87vw, 97vh, 0);
  }
  to {
    transform: translate3d(11vw, -119vh, 0);
  }
}

.circle-container:nth-child(149) .circle {
  animation-delay: 2519ms;
}

.circle-container:nth-child(150) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-150;
  animation-duration: 31454ms;
  animation-delay: 35444ms;
}

@keyframes move-frames-150 {
  from {
    transform: translate3d(12vw, 100vh, 0);
  }
  to {
    transform: translate3d(53vw, -128vh, 0);
  }
}

.circle-container:nth-child(150) .circle {
  animation-delay: 2923ms;
}

.circle-container:nth-child(151) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-151;
  animation-duration: 33622ms;
  animation-delay: 30871ms;
}

@keyframes move-frames-151 {
  from {
    transform: translate3d(6vw, 96vh, 0);
  }
  to {
    transform: translate3d(12vw, -118vh, 0);
  }
}

.circle-container:nth-child(151) .circle {
  animation-delay: 1599ms;
}

.circle-container:nth-child(152) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-152;
  animation-duration: 30644ms;
  animation-delay: 30743ms;
}

@keyframes move-frames-152 {
  from {
    transform: translate3d(57vw, 92vh, 0);
  }
  to {
    transform: translate3d(24vw, -107vh, 0);
  }
}

.circle-container:nth-child(152) .circle {
  animation-delay: 1933ms;
}

.circle-container:nth-child(153) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-153;
  animation-duration: 35492ms;
  animation-delay: 25351ms;
}

@keyframes move-frames-153 {
  from {
    transform: translate3d(86vw, 91vh, 0);
  }
  to {
    transform: translate3d(4vw, -109vh, 0);
  }
}

.circle-container:nth-child(153) .circle {
  animation-delay: 20ms;
}

.circle-container:nth-child(154) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-154;
  animation-duration: 33609ms;
  animation-delay: 3355ms;
}

@keyframes move-frames-154 {
  from {
    transform: translate3d(61vw, 91vh, 0);
  }
  to {
    transform: translate3d(7vw, -108vh, 0);
  }
}

.circle-container:nth-child(154) .circle {
  animation-delay: 1008ms;
}

.circle-container:nth-child(155) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-155;
  animation-duration: 33789ms;
  animation-delay: 14521ms;
}

@keyframes move-frames-155 {
  from {
    transform: translate3d(49vw, 97vh, 0);
  }
  to {
    transform: translate3d(63vw, -123vh, 0);
  }
}

.circle-container:nth-child(155) .circle {
  animation-delay: 1222ms;
}

.circle-container:nth-child(156) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-156;
  animation-duration: 28400ms;
  animation-delay: 9442ms;
}

@keyframes move-frames-156 {
  from {
    transform: translate3d(7vw, 92vh, 0);
  }
  to {
    transform: translate3d(21vw, -107vh, 0);
  }
}

.circle-container:nth-child(156) .circle {
  animation-delay: 1225ms;
}

.circle-container:nth-child(157) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-157;
  animation-duration: 32544ms;
  animation-delay: 35539ms;
}

@keyframes move-frames-157 {
  from {
    transform: translate3d(51vw, 91vh, 0);
  }
  to {
    transform: translate3d(50vw, -96vh, 0);
  }
}

.circle-container:nth-child(157) .circle {
  animation-delay: 2227ms;
}

.circle-container:nth-child(158) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-158;
  animation-duration: 31138ms;
  animation-delay: 752ms;
}

@keyframes move-frames-158 {
  from {
    transform: translate3d(99vw, 92vh, 0);
  }
  to {
    transform: translate3d(50vw, -99vh, 0);
  }
}

.circle-container:nth-child(158) .circle {
  animation-delay: 1242ms;
}

.circle-container:nth-child(159) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-159;
  animation-duration: 33117ms;
  animation-delay: 7975ms;
}

@keyframes move-frames-159 {
  from {
    transform: translate3d(45vw, 99vh, 0);
  }
  to {
    transform: translate3d(84vw, -102vh, 0);
  }
}

.circle-container:nth-child(159) .circle {
  animation-delay: 3477ms;
}

.circle-container:nth-child(160) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-160;
  animation-duration: 35268ms;
  animation-delay: 16063ms;
}

@keyframes move-frames-160 {
  from {
    transform: translate3d(60vw, 96vh, 0);
  }
  to {
    transform: translate3d(63vw, -113vh, 0);
  }
}

.circle-container:nth-child(160) .circle {
  animation-delay: 2043ms;
}

.circle-container:nth-child(161) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-161;
  animation-duration: 28326ms;
  animation-delay: 16875ms;
}

@keyframes move-frames-161 {
  from {
    transform: translate3d(64vw, 93vh, 0);
  }
  to {
    transform: translate3d(57vw, -102vh, 0);
  }
}

.circle-container:nth-child(161) .circle {
  animation-delay: 1687ms;
}

.circle-container:nth-child(162) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-162;
  animation-duration: 28396ms;
  animation-delay: 4446ms;
}

@keyframes move-frames-162 {
  from {
    transform: translate3d(95vw, 99vh, 0);
  }
  to {
    transform: translate3d(31vw, -118vh, 0);
  }
}

.circle-container:nth-child(162) .circle {
  animation-delay: 3873ms;
}

.circle-container:nth-child(163) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-163;
  animation-duration: 28709ms;
  animation-delay: 36621ms;
}

@keyframes move-frames-163 {
  from {
    transform: translate3d(53vw, 94vh, 0);
  }
  to {
    transform: translate3d(20vw, -124vh, 0);
  }
}

.circle-container:nth-child(163) .circle {
  animation-delay: 3080ms;
}

.circle-container:nth-child(164) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-164;
  animation-duration: 33635ms;
  animation-delay: 9049ms;
}

@keyframes move-frames-164 {
  from {
    transform: translate3d(65vw, 92vh, 0);
  }
  to {
    transform: translate3d(19vw, -102vh, 0);
  }
}

.circle-container:nth-child(164) .circle {
  animation-delay: 892ms;
}

.circle-container:nth-child(165) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-165;
  animation-duration: 33144ms;
  animation-delay: 31561ms;
}

@keyframes move-frames-165 {
  from {
    transform: translate3d(30vw, 96vh, 0);
  }
  to {
    transform: translate3d(74vw, -112vh, 0);
  }
}

.circle-container:nth-child(165) .circle {
  animation-delay: 1997ms;
}

.circle-container:nth-child(166) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-166;
  animation-duration: 32274ms;
  animation-delay: 10338ms;
}

@keyframes move-frames-166 {
  from {
    transform: translate3d(63vw, 95vh, 0);
  }
  to {
    transform: translate3d(89vw, -121vh, 0);
  }
}

.circle-container:nth-child(166) .circle {
  animation-delay: 3402ms;
}

.circle-container:nth-child(167) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-167;
  animation-duration: 31859ms;
  animation-delay: 5706ms;
}

@keyframes move-frames-167 {
  from {
    transform: translate3d(42vw, 92vh, 0);
  }
  to {
    transform: translate3d(54vw, -117vh, 0);
  }
}

.circle-container:nth-child(167) .circle {
  animation-delay: 2273ms;
}

.circle-container:nth-child(168) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-168;
  animation-duration: 31681ms;
  animation-delay: 10376ms;
}

@keyframes move-frames-168 {
  from {
    transform: translate3d(92vw, 98vh, 0);
  }
  to {
    transform: translate3d(83vw, -102vh, 0);
  }
}

.circle-container:nth-child(168) .circle {
  animation-delay: 1773ms;
}

.circle-container:nth-child(169) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-169;
  animation-duration: 29619ms;
  animation-delay: 20354ms;
}

@keyframes move-frames-169 {
  from {
    transform: translate3d(69vw, 99vh, 0);
  }
  to {
    transform: translate3d(23vw, -117vh, 0);
  }
}

.circle-container:nth-child(169) .circle {
  animation-delay: 69ms;
}

.circle-container:nth-child(170) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-170;
  animation-duration: 35686ms;
  animation-delay: 5439ms;
}

@keyframes move-frames-170 {
  from {
    transform: translate3d(23vw, 95vh, 0);
  }
  to {
    transform: translate3d(93vw, -96vh, 0);
  }
}

.circle-container:nth-child(170) .circle {
  animation-delay: 3851ms;
}

.circle-container:nth-child(171) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-171;
  animation-duration: 35403ms;
  animation-delay: 12617ms;
}

@keyframes move-frames-171 {
  from {
    transform: translate3d(97vw, 92vh, 0);
  }
  to {
    transform: translate3d(48vw, -105vh, 0);
  }
}

.circle-container:nth-child(171) .circle {
  animation-delay: 68ms;
}

.circle-container:nth-child(172) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-172;
  animation-duration: 29334ms;
  animation-delay: 13255ms;
}

@keyframes move-frames-172 {
  from {
    transform: translate3d(25vw, 99vh, 0);
  }
  to {
    transform: translate3d(43vw, -106vh, 0);
  }
}

.circle-container:nth-child(172) .circle {
  animation-delay: 3307ms;
}

.circle-container:nth-child(173) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-173;
  animation-duration: 30094ms;
  animation-delay: 12046ms;
}

@keyframes move-frames-173 {
  from {
    transform: translate3d(13vw, 98vh, 0);
  }
  to {
    transform: translate3d(12vw, -117vh, 0);
  }
}

.circle-container:nth-child(173) .circle {
  animation-delay: 989ms;
}

.circle-container:nth-child(174) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-174;
  animation-duration: 29440ms;
  animation-delay: 27091ms;
}

@keyframes move-frames-174 {
  from {
    transform: translate3d(7vw, 95vh, 0);
  }
  to {
    transform: translate3d(81vw, -104vh, 0);
  }
}

.circle-container:nth-child(174) .circle {
  animation-delay: 1224ms;
}

.circle-container:nth-child(175) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-175;
  animation-duration: 33627ms;
  animation-delay: 17500ms;
}

@keyframes move-frames-175 {
  from {
    transform: translate3d(22vw, 98vh, 0);
  }
  to {
    transform: translate3d(83vw, -109vh, 0);
  }
}

.circle-container:nth-child(175) .circle {
  animation-delay: 2994ms;
}

.circle-container:nth-child(176) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-176;
  animation-duration: 30789ms;
  animation-delay: 24949ms;
}

@keyframes move-frames-176 {
  from {
    transform: translate3d(53vw, 94vh, 0);
  }
  to {
    transform: translate3d(52vw, -115vh, 0);
  }
}

.circle-container:nth-child(176) .circle {
  animation-delay: 151ms;
}

.circle-container:nth-child(177) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-177;
  animation-duration: 31864ms;
  animation-delay: 25637ms;
}

@keyframes move-frames-177 {
  from {
    transform: translate3d(66vw, 98vh, 0);
  }
  to {
    transform: translate3d(27vw, -123vh, 0);
  }
}

.circle-container:nth-child(177) .circle {
  animation-delay: 1563ms;
}

.circle-container:nth-child(178) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-178;
  animation-duration: 35150ms;
  animation-delay: 16924ms;
}

@keyframes move-frames-178 {
  from {
    transform: translate3d(62vw, 96vh, 0);
  }
  to {
    transform: translate3d(52vw, -97vh, 0);
  }
}

.circle-container:nth-child(178) .circle {
  animation-delay: 2148ms;
}

.circle-container:nth-child(179) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-179;
  animation-duration: 29392ms;
  animation-delay: 26788ms;
}

@keyframes move-frames-179 {
  from {
    transform: translate3d(39vw, 96vh, 0);
  }
  to {
    transform: translate3d(98vw, -101vh, 0);
  }
}

.circle-container:nth-child(179) .circle {
  animation-delay: 3526ms;
}

.circle-container:nth-child(180) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-180;
  animation-duration: 34183ms;
  animation-delay: 36717ms;
}

@keyframes move-frames-180 {
  from {
    transform: translate3d(63vw, 100vh, 0);
  }
  to {
    transform: translate3d(17vw, -117vh, 0);
  }
}

.circle-container:nth-child(180) .circle {
  animation-delay: 1166ms;
}

.circle-container:nth-child(181) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-181;
  animation-duration: 32368ms;
  animation-delay: 25477ms;
}

@keyframes move-frames-181 {
  from {
    transform: translate3d(2vw, 98vh, 0);
  }
  to {
    transform: translate3d(94vw, -125vh, 0);
  }
}

.circle-container:nth-child(181) .circle {
  animation-delay: 902ms;
}

.circle-container:nth-child(182) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-182;
  animation-duration: 35213ms;
  animation-delay: 30044ms;
}

@keyframes move-frames-182 {
  from {
    transform: translate3d(41vw, 96vh, 0);
  }
  to {
    transform: translate3d(16vw, -106vh, 0);
  }
}

.circle-container:nth-child(182) .circle {
  animation-delay: 1516ms;
}

.circle-container:nth-child(183) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-183;
  animation-duration: 31547ms;
  animation-delay: 25713ms;
}

@keyframes move-frames-183 {
  from {
    transform: translate3d(8vw, 92vh, 0);
  }
  to {
    transform: translate3d(62vw, -112vh, 0);
  }
}

.circle-container:nth-child(183) .circle {
  animation-delay: 1302ms;
}

.circle-container:nth-child(184) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-184;
  animation-duration: 28679ms;
  animation-delay: 5849ms;
}

@keyframes move-frames-184 {
  from {
    transform: translate3d(60vw, 95vh, 0);
  }
  to {
    transform: translate3d(69vw, -98vh, 0);
  }
}

.circle-container:nth-child(184) .circle {
  animation-delay: 3788ms;
}

.circle-container:nth-child(185) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-185;
  animation-duration: 30564ms;
  animation-delay: 36755ms;
}

@keyframes move-frames-185 {
  from {
    transform: translate3d(66vw, 95vh, 0);
  }
  to {
    transform: translate3d(19vw, -111vh, 0);
  }
}

.circle-container:nth-child(185) .circle {
  animation-delay: 519ms;
}

.circle-container:nth-child(186) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-186;
  animation-duration: 34581ms;
  animation-delay: 36830ms;
}

@keyframes move-frames-186 {
  from {
    transform: translate3d(27vw, 91vh, 0);
  }
  to {
    transform: translate3d(48vw, -92vh, 0);
  }
}

.circle-container:nth-child(186) .circle {
  animation-delay: 3919ms;
}

.circle-container:nth-child(187) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-187;
  animation-duration: 32447ms;
  animation-delay: 33470ms;
}

@keyframes move-frames-187 {
  from {
    transform: translate3d(70vw, 95vh, 0);
  }
  to {
    transform: translate3d(16vw, -97vh, 0);
  }
}

.circle-container:nth-child(187) .circle {
  animation-delay: 1688ms;
}

.circle-container:nth-child(188) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-188;
  animation-duration: 33573ms;
  animation-delay: 3546ms;
}

@keyframes move-frames-188 {
  from {
    transform: translate3d(23vw, 96vh, 0);
  }
  to {
    transform: translate3d(32vw, -101vh, 0);
  }
}

.circle-container:nth-child(188) .circle {
  animation-delay: 543ms;
}

.circle-container:nth-child(189) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-189;
  animation-duration: 34468ms;
  animation-delay: 32278ms;
}

@keyframes move-frames-189 {
  from {
    transform: translate3d(84vw, 94vh, 0);
  }
  to {
    transform: translate3d(94vw, -102vh, 0);
  }
}

.circle-container:nth-child(189) .circle {
  animation-delay: 2766ms;
}

.circle-container:nth-child(190) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-190;
  animation-duration: 36884ms;
  animation-delay: 13547ms;
}

@keyframes move-frames-190 {
  from {
    transform: translate3d(36vw, 100vh, 0);
  }
  to {
    transform: translate3d(55vw, -112vh, 0);
  }
}

.circle-container:nth-child(190) .circle {
  animation-delay: 889ms;
}

.circle-container:nth-child(191) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-191;
  animation-duration: 32043ms;
  animation-delay: 36763ms;
}

@keyframes move-frames-191 {
  from {
    transform: translate3d(80vw, 97vh, 0);
  }
  to {
    transform: translate3d(64vw, -105vh, 0);
  }
}

.circle-container:nth-child(191) .circle {
  animation-delay: 2685ms;
}

.circle-container:nth-child(192) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-192;
  animation-duration: 32727ms;
  animation-delay: 27560ms;
}

@keyframes move-frames-192 {
  from {
    transform: translate3d(45vw, 94vh, 0);
  }
  to {
    transform: translate3d(73vw, -104vh, 0);
  }
}

.circle-container:nth-child(192) .circle {
  animation-delay: 214ms;
}

.circle-container:nth-child(193) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-193;
  animation-duration: 35379ms;
  animation-delay: 14298ms;
}

@keyframes move-frames-193 {
  from {
    transform: translate3d(65vw, 91vh, 0);
  }
  to {
    transform: translate3d(94vw, -95vh, 0);
  }
}

.circle-container:nth-child(193) .circle {
  animation-delay: 2136ms;
}

.circle-container:nth-child(194) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-194;
  animation-duration: 34662ms;
  animation-delay: 14743ms;
}

@keyframes move-frames-194 {
  from {
    transform: translate3d(90vw, 99vh, 0);
  }
  to {
    transform: translate3d(67vw, -129vh, 0);
  }
}

.circle-container:nth-child(194) .circle {
  animation-delay: 3075ms;
}

.circle-container:nth-child(195) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-195;
  animation-duration: 32298ms;
  animation-delay: 17767ms;
}

@keyframes move-frames-195 {
  from {
    transform: translate3d(75vw, 99vh, 0);
  }
  to {
    transform: translate3d(43vw, -112vh, 0);
  }
}

.circle-container:nth-child(195) .circle {
  animation-delay: 3196ms;
}

.circle-container:nth-child(196) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-196;
  animation-duration: 32819ms;
  animation-delay: 21087ms;
}

@keyframes move-frames-196 {
  from {
    transform: translate3d(35vw, 92vh, 0);
  }
  to {
    transform: translate3d(19vw, -107vh, 0);
  }
}

.circle-container:nth-child(196) .circle {
  animation-delay: 2557ms;
}

.circle-container:nth-child(197) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-197;
  animation-duration: 30369ms;
  animation-delay: 29757ms;
}

@keyframes move-frames-197 {
  from {
    transform: translate3d(50vw, 96vh, 0);
  }
  to {
    transform: translate3d(83vw, -118vh, 0);
  }
}

.circle-container:nth-child(197) .circle {
  animation-delay: 808ms;
}

.circle-container:nth-child(198) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-198;
  animation-duration: 36745ms;
  animation-delay: 6728ms;
}

@keyframes move-frames-198 {
  from {
    transform: translate3d(49vw, 100vh, 0);
  }
  to {
    transform: translate3d(93vw, -111vh, 0);
  }
}

.circle-container:nth-child(198) .circle {
  animation-delay: 1207ms;
}

.circle-container:nth-child(199) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-199;
  animation-duration: 35402ms;
  animation-delay: 16771ms;
}

@keyframes move-frames-199 {
  from {
    transform: translate3d(57vw, 95vh, 0);
  }
  to {
    transform: translate3d(4vw, -99vh, 0);
  }
}

.circle-container:nth-child(199) .circle {
  animation-delay: 3079ms;
}

.circle-container:nth-child(200) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-200;
  animation-duration: 30735ms;
  animation-delay: 15075ms;
}

@keyframes move-frames-200 {
  from {
    transform: translate3d(96vw, 97vh, 0);
  }
  to {
    transform: translate3d(29vw, -115vh, 0);
  }
}

.circle-container:nth-child(200) .circle {
  animation-delay: 573ms;
}
