{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

	<div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
	    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title">Default</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
	</div>

{% endblock %}