{% extends 'base.html' %}

{% block title %} Posts {% endblock %}

{% block body %}

	<h1>Posts</h1>

	{% for post in posts %}

		<h1>{{ post.title }}</h1>
		<h2>{{ post.content }}</h2>

	{% endfor %}

{% endblock %}