<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>

	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.4/css/uikit.min.css" />
	<link rel="stylesheet" type="text/css" href="css/freets.css?vr="- />

	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

	{% block header %}

	{% endblock %}

</head>
<body>

<div class="uk-container">

	<div class="uk-child-width-1-1 uk-text-center nav-display" uk-grid>
	    <div>

	    	<nav class="uk-navbar-container uk-margin ml5" uk-navbar>
			    <div class="uk-navbar-center text-wrapper">

			        <div class="uk-navbar-center-left">
			        	<div>
				            <ul class="uk-navbar-nav">
				                <li><a class="ml121 letters letters-left" href="#">Item</a></li>
				                <li><a class="ml121 letters letters-left" href="#">Item</a></li>
				            </ul>
			        	</div>
			    	</div>
			        <div class="uk-navbar-item uk-logo letters ampersand circleBase" href="#"></div>
			        <div class="uk-navbar-center-right">
			        	<div>
				            <ul class="uk-navbar-nav">
				                <li><a class="ml12 letters letters-right" href="#">Item</a></li>
				                <li><a class="ml12 letters letters-right" href="#">Item</a></li>
				            </ul>
			        	</div>
			   		</div>
			    </div>
			</nav>
	        
	    </div>
	</div>

<!-- 	<h1 class="ml12">A new production</h1> -->

{% block body %}

{% endblock %}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.4/js/uikit-icons.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="text/javascript" src="js/freets.js"></script>

<script type="text/javascript">

	var x = window.matchMedia("(max-width: 500px)");
	var y = window.matchMedia("(min-width: 500px)");

	navTxtAnim(x);

	x.addListener(navTxtAnim);

	function small() {

		$('.ml12').each(function(){
			  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
			});

		anime.timeline({loop: false})
		  .add({
		    targets: '.ml12 .letter',
		    translateX: [0,-30],
		    opacity: [1,0],
		    easing: "easeInExpo",
		    duration: 400,
		    delay: function(el, i) {
		      return 100 + 30 * i;
		    }
		  });

		  $('.ml121').each(function(){
		  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter1'>$&</span>"));
		});

		anime.timeline({loop: false})
		  .add({
		    targets: '.ml121 .letter1',
		    translateX: [0,+30],
		    opacity: [1,0],
		    easing: "easeInExpo",
		    duration: 400,
		    delay: function(el, i) {
		      return 100 + 30 * i;
		    }
		  });
	}

	function big() {

		anime.timeline({loop: false})
		  .add({
		    targets: '.ml5 .line',
		    opacity: [0.5,1],
		    scaleX: [0, 1],
		    easing: "easeInOutExpo",
		    duration: 700
		  }).add({
		    targets: '.ml5 .line',
		    duration: 600,
		    easing: "easeOutExpo",
		    translateY: function(e, i, l) {
		      var offset = -0.625 + 0.625*2*i;
		      return offset + "em";
		    }
		  }).add({
		    targets: '.ml5 .ampersand',
		    opacity: [0,1],
		    scaleY: [0.5, 1],
		    easing: "easeOutExpo",
		    duration: 600,
		    offset: '-=600'
		  }).add({
		    targets: '.ml5 .letters-left',
		    opacity: [0,1],
		    translateX: ["0.5em", 0],
		    easing: "easeOutExpo",
		    duration: 600,
		    offset: '-=300'
		  }).add({
		    targets: '.ml5 .letters-right',
		    opacity: [0,1],
		    translateX: ["-0.5em", 0],
		    easing: "easeOutExpo",
		    duration: 600,
		    offset: '-=600'
		  })/*.add({
		    targets: '.ml5',
		    opacity: 0,
		    duration: 1000,
		    easing: "easeOutExpo",
		    delay: 1000
		  });*/
	}
	
	function navTxtAnim(x) {

		if (x.matches) {

			small();

		} else {

			big();
		}
	}
</script>

{% block footer %}

{% endblock %}

</body>
</html>